<h1><%= @beet.title %></h1>

<% if @current_user.id == @user.id %>
<div class="controls">
  <%= link_to 'Edit post', edit_beet_path(@beet) %>
  <%= link_to 'Delete Beet', @beet, :method => 'delete' %>
</div>
<% end %>

<div class="post">
<pre><%= @beet.content %></pre>
<div class="info">
<a href="/users/<%= @beet.user_id %>"><%= @beet.user.username %></a>
<p>♡ <%= @likes.where(beet_id: @beet.id).count %></p>
</div>
</div>

<% if @beet.title.present? %>
  <p><%= @beet.title %></p>
<% end %>

<h2>Comments</h3>

<% @comments.each do |comment| %>
  <div class="comments">
    <p><%= comment.content %></p>
    <a href="/users/<%= comment.user.id %>"><%= comment.user.username %></a>
  </div>
<% end %>

<%= form_for @comment_new do |f| %>
  <%= f.label :content, "Comment:" %>
  <%= f.text_field :content %>
  <%= f.hidden_field :beet_id, value: @beet.id %>
  <%= f.hidden_field :user_id, value: @current_user.id %>
  <%= f.submit "Leave comment" %>
<% end %>
