<h1><%= @user.username %></h1>

<% if @current_user.id == @user.id %>
<div class="controls"><%= link_to 'Edit profile', edit_user_path %></div>
<% end %>

<div class="post-container">

<% @beets.each do |beet| %>

<% if beet.user_id == @user.id %>

  <div class="post">
  <pre><%= beet.content %></pre>
  <div class="info">
  <a href="/users/<%= beet.user_id %>"><%= beet.user.username %></a>
  <p>♡ <%= @likes.where(beet_id: beet.id).count %></p>
  <a href="/beets/<%= beet.id %>">comments</a>
  </div>
  </div>

<% end %>

<% end %>

</div>
