<div class="post-container">

<% @beets.each do |beet| %>
  <div class="post">
  <pre><%= beet.content %></pre>
  <div class="info">
  <a href="/users/<%= beet.user_id %>"><%= beet.user.username %></a>
  <p>♡ <%= @likes.where(beet_id: beet.id).count %></p>
  <a href="/beets/<%= beet.id %>">comments</a>
  </div>
  </div>
<% end %>

</div>
