<div class="post-container">

<% @beets.order(:created_at).each do |beet| %>
  <div class="post" id="<%= beet.id %>">

    <pre><%= beet.content %></pre>

    <div class="info">

    <a href="/users/<%= beet.user_id %>"><%= beet.user.username %></a>

      <% if @current_user.present? %>

        <% if @likes.where(user_id: @current_user.id, beet_id: beet.id).any? == true %>

          <%= link_to "♥ #{ @likes.where(beet_id: beet.id).count }", root_path(:user_id => @current_user.id, :beet_id => beet.id), :class => "liked", :method => 'delete' %>

        <% else %>

          <p>
            <%= form_for @like_new do |f| %>
              <%= f.hidden_field :beet_id, value: beet.id %>
              <%= f.hidden_field :user_id, value: @current_user.id %>
              <%= f.submit "♡ #{@likes.where(beet_id: beet.id).count}", :id => "like" %>
            <% end %>
          </p>

        <% end %>

      <% else %>

        <p class="unliked guest">♡ <%= @likes.where(beet_id: beet.id).count %></p>

      <% end %>

      <a href="/beets/<%= beet.id %>" id="comment-beet">comments <%= "(#{@comments.where(beet_id: beet.id).count})" if @comments.where(beet_id: beet.id).count != 0 %></a>

      <%= link_to "", "#", :class => 'far fa-copy', :id => 'clipboard', :onclick => IO.popen("pbcopy", "w") { |clipboard| clipboard.puts beet.content } %>

      </div>

    </div>

  <% end %>

</div>
