<div class="post-container">

<% @beets.each do |beet| %>
  <div class="post">
  <pre><%= AsciiArt.new("#{ beet.image }").to_ascii_art(width: 70) %></pre>
  <div class="info">
  <a href="/users/<%= beet.user_id %>"><%= beet.user.username %></a>
  <p>♡ <%= @likes.count %></p>
  <a href="/beets/<%= beet.id %>">comments</a>
  </div>
  </div>
<% end %>

</div>
