<!DOCTYPE html>
<html>
  <head>

    <title>bASCIIart (o˘◡˘o)</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= cloudinary_js_config %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <%= favicon_link_tag asset_path('favicon.png') %>

    <meta property="og:title" content="bASCIIart (o˘◡˘o)" />
    <meta property="og:description" content="Create your own ASCII art by uploading an image and watch it come to life in ASCII!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://basciiart.herokuapp.com/" />
    <%= tag :meta, property: 'og:image', content: image_url('basciiart-cover.png') %>

  </head>

  <body>

    <nav>

      <ul>

        <li><%= link_to 'bASCIIart', root_path, :class => 'title' %></li>
        <li><%= link_to 'feed', root_path, :class => 'nav-item' %></li>
        <% if @current_user.present? %>
          <li><a href="/users/<%= @current_user.id %>"><%= "view profile" %></a></li>
          <% if @current_user.admin? %>
            <li><%= link_to 'users (admin only)', users_path %></li>
          <% end %>
          <li><%= link_to "log out", login_path, :class => 'nav-item', :method => 'delete' %></li>
          <li><%= link_to "create beet!", new_beet_path, :class => 'create-beet' %></li>
        <% else %>
          <li><%= link_to 'sign up', new_user_path %></li>
          <li><%= link_to 'login', login_path %></li>
          <li><%= link_to "create beet!", login_path, :class => 'create-beet' %></li>
        <% end %>

      </ul>

    </nav>

    <div class="main-container">

      <%= yield %>

    </div>

    <div class="credits">brought to you in <%= Date.current.year %> by <a href="https://github.com/oisa/basciiart" target="_blank">oisa</a>. made possible with <a href="https://github.com/nodanaonlyzuul/asciiart" target="_blank">asciiart</a> and <a href="https://generalassemb.ly/" target="_blank">ga</a>.</div>

  </body>
</html>
