<!DOCTYPE html>
<html>
  <head>
    <title>Basciiart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <p class="title">bASCIIart</p>
      <ul>
        <li><%= link_to 'Feed', root_path %></li>
        <% if @current_user.present? %>
          <% if @current_user.admin? %>
            <li><%= link_to 'Users (admin only)', users_path %></li>
          <% end %>
          <li><a href="/users/<%= @current_user.id %>"><%= "View profile (#{@current_user.username})" %></a></li>
          <li><%= link_to "Log out", login_path, :method => 'delete' %></li>
          <li><%= link_to "Create beet!", new_beet_path, :class => 'create-beet' %></li> <!-- Security through obscurity -->
        <% else %>
          <li><%= link_to 'Sign up', new_user_path %></li>
          <li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    </nav>

    <div class="main-container">
    <%= yield %>
    </div>

  </body>
</html>
